.container {
  font-family: monospace;
}
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.buttons {
  margin: 20px;
}
button {
  cursor: pointer;
}
.ios:hover {
  opacity: 50%;
}
.mac:hover {
  opacity: 50%;
}
p {
  opacity: 50%;
}
h2 {
  margin-top: 40px;
}
.second {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.r {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 60px;
  padding: 20px;
}
.third {
  display: flex;
  text-align: center;
  margin: 20px;
}
.a {
  padding: 30px;
}
.b {
  padding: 30px;
}
.c {
  padding: 30px;
}
.forth {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  text-decoration: none;
}
.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.fifth {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  padding: 30px;
  background-color: aliceblue;
}
a:hover {
  color: hsl(171, 66%, 44%);
}
.y {
  display: flex;
}
.y1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.y2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.y3 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media only screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    margin: 5px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .ios {
    margin: 5px;
  }
  .mac {
    margin: 5px;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .com {
    width: 300px;
    height: 300x;
  }
  .mob {
    width: 300px;
    height: 300x;
  }
  .third {
    display: flex;
    flex-direction: column;
  }
  .forth {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifth {
    display: flex;
    flex-direction: column;
  }
  .y {
    display: flex;
    flex-direction: column;
  }
}
